body {
  background-color: #f1f1f1;
  font-family: 'Lato', sans-serif; }

.base-header {
  padding: 20px 0;
  background-color: #2D2D2D; }

#logo {
  width: 14%; }

.home-landing-container {
  background: url("../../img/photo-couch.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 22% 0 8% 0;
  box-sizing: border-box; }

.home-landing-txt-container {
  color: white; }
  .home-landing-txt-container h3 {
    font-size: 18px;
    font-weight: bold; }
  .home-landing-txt-container h1 {
    font-size: 48px; }
  .home-landing-txt-container p {
    width: 40%;
    margin: 18px 0 28px 0;
    font-weight: bold; }

.home-landing-btn {
  border-radius: 15px;
  color: #444;
  background-color: #61DEB3;
  padding: 5px 24px;
  font-weight: bold;
  border: none; }

.home-steps-header {
  text-align: center;
  margin: 28px 0 16px 0;
  width: 100%; }
  .home-steps-header h2 {
    color: #444;
    font-size: 32px;
    font-weight: bold; }

.home-step {
  width: 96%;
  margin: 0 auto;
  text-align: center; }
  .home-step h3 {
    font-size: 48px;
    font-weight: bold;
    border-bottom: 4px solid #61DEB3;
    display: inline-block;
    margin-bottom: 18px;
    padding-bottom: 5px; }
  .home-step h4 {
    font-size: 18px;
    font-weight: bold; }
  .home-step p {
    font-size: 16px; }

@media only screen and (max-width: 700px) {
  .home-landing-txt-container p {
    width: 60%; } }

@media only screen and (max-width: 480px) {
  #logo {
    width: 28%; }
  .home-landing-container {
    padding-top: 8%; }
    .home-landing-container h3 {
      font-size: 16px;
      font-weight: bold; }
    .home-landing-container h1 {
      font-size: 28px; }
    .home-landing-container p {
      width: 88%; } }

/*# sourceMappingURL=main.css.map */